<div>
  <img
    src='https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fphotos%2Ffunny-cat&psig=AOvVaw0Mb3tIs_NE-nNBG90AUGTr&ust=1637163479747000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCPDVubGbnfQCFQAAAAAdAAAAABAJ'
    alt='funny'
  />
</div>

<div>
  <a href='/profile'>Back to home page</a>
</div>
