<h1>Private</h1>
<div>
  <img
    src='https://media1.giphy.com/media/ZubZqIeSsZ60t0ID9l/giphy.gif?cid=ecf05e475b3ce13d9e574566e51e0fa8915a0a442b4c8dd9&rid=giphy.gif&ct=ghttps://media1.giphy.com/media/ZubZqIeSsZ60t0ID9l/giphy.gif?cid=ecf05e475b3ce13d9e574566e51e0fa8915a0a442b4c8dd9&rid=giphy.gif&ct=g'
    alt='gif'
  />
</div>

<div>
  <a href='/profile'>Back to home page</a>
</div>
